@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Special+Elite&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

body {
    font-weight: 300;
    color: #3a3a3a;
    font-size: 18px;
    background: url("../images/background.jpg") no-repeat center center;
    background-size: cover;
    background-attachment: fixed;

}

body,
button {
    font-family: 'Special Elite', cursive;

}

.btn {
    width: fit-content;
    font-weight: bold;
    padding: 10px 40px;
    font-size: 17px;
    border: 1px solid #3a3a3a;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#page-container {
    position: relative;
    min-height: 100vh;
    z-index: 1;
}

h1 {
    font-family: 'Bangers', cursive;
}

header {
    height: 170px;
    padding: 30px 20px;
    text-align: center;
    background-image: linear-gradient(#fff 33%, #3395dc00);
    font-weight: bold;
}

header a {
    text-decoration: none;
    color: #3a3a3a;
}

header h1 {
    margin-bottom: 3px;
}

header h2 {
    font-size: 21px;
    margin-bottom: 10px;

}

.sound-control {
    margin: 0 auto;
    height: 20px;
    width: 100%;
    padding: 15px;
}

.sound-control i {
    font-size: 30px;
}

.sound-control i:hover {
    cursor: pointer;
}

.icon-inactive {
    display: none;
}


#game-prefferences {
    width: 90%;
    height: 300px;
    background-color: #ffffffa3;
    margin: 0 auto;
    border-radius: 25px;
    padding: 30px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

#game-prefferences li {
    list-style-type: none;
    margin: 20px auto;
    width: 78%;
    padding: 5px;
    color: white;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 20px;
    box-shadow: rgb(99 99 99 / 20%) 0px 2px 8px 0px;
    text-transform: uppercase;
    transition: 0.1s ease-out;

}

#game-prefferences li:hover {
    background-color: #77469b;
    border: 1px solid #522f6c;
    cursor: pointer;
}

.level-inactive {
    background-color: #22b3e5ed;
    border: 1px solid dodgerblue;
}

.level-active {
    background-color: #77469b;
    border: 1px solid #522f6c;
}

#game-prefferences button {
    color: #3a3a3a;
    background-color: #fff;
    position: relative;
    z-index: 1;

}

#game-prefferences button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#game-prefferences img {
    height: 200px;
    float: right;
    position: absolute;
    right: -4%;
    top: 74%;
}

footer {
    width: 100%;
    height: 65px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;

    position: absolute;
    bottom: 0%;
    z-index: -1;
}

footer ul {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

footer li {
    border: 2px solid #fff0;
    border-radius: 50px;
    height: 40px;
    width: 40px;
    text-align: center;
    transition: border 0.1s ease-in;

}

footer li:hover {
    border: 2px solid #0761a3;
}

footer a {
    color: #0761a3;
    transition: 0.2s ease-out;
    font-size: 25px;
    position: relative;
    top: 15%;
}

#game-body {
    background-attachment: unset;
}

#game-body header h2 {
    margin-bottom: 0px;
}

#game-area {
    width: 90%;

    display: flex;
    flex-direction: column;

    padding: 15px;
    background-color: #ffffff91;
    border-radius: 25px;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    z-index: 1;
    margin-bottom: 10px;

}

#upper-section {
    width: 100%;
    border: 2px solid #ecf7fd;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #ffffffbd;

    position: relative;
    z-index: -2;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
}

#cartoon-container {
    width: 100%;
    height: 205px;

    overflow: hidden;

    position: relative;

    margin: 0 auto;

}

#cartoon-container p {
    position: absolute;
    top: 16%;
    right: 16%;
    font-size: 16px;
    font-weight: bold;
}

#cartoon-container>img {
    height: 145px;
    position: absolute;

    transform: rotateZ(10deg);
    animation: sun 0.5s infinite;
    animation-direction: alternate;
}

@keyframes sun {
    0% {
        transform: rotateZ(0);
    }

    100% {
        transform: rotateZ(10deg);
    }
}

#melting-snowman-container {
    width: 235px;
    height: 220px;
    position: relative;
    display: flex;
    justify-content: center;
    overflow: hidden;
    top: 18%;
    right: -24%;

}

#sun {
    top: -8%;
    left: 0%;
}

#melting-snowman-container img {
    height: 145px;
    position: absolute;
}

.body {
    bottom: 15%;
    right: 15%;
}

#hat {
    top: -9%;
    right: 10%;
    z-index: -1;
}

#nose {
    top: -1%;
    right: 16%;
}

#left-hand {
    top: 6%;
    right: -4%;
}

#right-hand {
    top: 4%;
    right: 24%;
}

#level-container {
    width: 80%;
    height: 40px;
    text-align: center;
}

#level-container p:nth-child(1) {
    font-size: 17px;
    margin-bottom: 5px;
}

#level {
    font-size: 19px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
}

#word-container {
    width: 80%;
    text-align: center;
    margin: 10px 0px 15px;
}

#underscores {
    font-size: 26px;
    letter-spacing: 3px;
    line-height: 30px;
    overflow-wrap: break-word;

}

#hint-container {
    width: 80%;
    text-align: center;
    margin-bottom: 15px;
}

#hint-container i {
    font-size: 23px;
    margin: 0 auto;
    color: #f19306;
    transition: color 0.1s ease-out;
}

#hint-container i:hover {
    cursor: pointer;
    color: #3a3a3a;
}

#hint-container p {
    font-size: 14px;
    color: gray;
    letter-spacing: 1px;
}

#hint-container i::after {
    content: "Hint";
    display: block;
    font-size: 12px;
}

#alphabet-container {
    width: 100%;
}

#alphabet-container ul {
    display: flex;
    justify-content: center;
    flex-flow: wrap;

    list-style-type: none;
    text-align: center;
}

#alphabet-container li {
    font-size: 21px;
    text-transform: uppercase;
    width: 24px;
    padding: 4px 4px 0px 4px;
    margin: 6px 5px 0px 5px;
    background-color: #64c9ff;
    border: 1px solid #41bdff;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    color: white;
}

#alphabet-container li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#score-container {
    width: 90%;

    position: relative;
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    justify-content: space-around;


}

#score-container span {
    font-weight: bold;
}

#lowest-buttons-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lowest-buttons-container button {
    margin-top: 15px;

}

#lowest-buttons-container button:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#lowest-buttons-container button:nth-child(1) {
    background-color: #3a3a3a;
    border: 1px solid #000000;
    color: white;
}

#lowest-buttons-container button:nth-child(2) {
    background-color: #6e3b96;
    border: 1px solid #4e0885;
    color: white;
}